<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
        
        <!-- The below line operates the same as the above:
            <link rel="stylesheet" href="/static/styles/main.css"> -->

        {% if title %}
        <title>{{ title }} - BrownieBlog</title>
        {% else %}
        <title>Welcome to BrownieBlog</title>
        {% endif %}

        <div>BrownieBlog: 
            <a href="/index">Home</a>
            <a href="/catalogue">Catalogue</a>
            <a href="https://github.com/browniefrombris/brownieblog">
                <img alt="github" src="{{url_for('static', filename='github.png')}}" width="25" height ="25" style="float:right"></a>
        </div>

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>

