<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
        
        <!-- The below line operates the same as the above:
            <link rel="stylesheet" href="/static/styles/main.css"> -->

        {% if title %}
        <title>{{ title }} - BrownieBlog</title>
        {% else %}
        <title>Welcome to BrownieBlog</title>
        {% endif %}
    </head>
    <body>
        <div>

            <a href="/index">
                <img style="display: inline; vertical-align: middle;" alt="logo" src="{{url_for('static', filename='/images/B_logo.ico')}}" width="20" height ="20"></a>
            
            <div style="display:inline; vertical-align:middle">
            BrownieBlog
            <a href="/index">Home</a>
            <a href="/catalogue">Catalogue</a>
            <a href="/fader">Fader</a>
            <a href="/fader2">Fader2</a>
            </div>

            <a href="https://github.com/browniefrombris/brownieblog">
                <img style="vertical-align: middle; float: right;" alt="github" src="{{url_for('static', filename='github.png')}}" width="20" height ="20" style="float:right"></a>

        </div>

        <!-- <hr style="width:50%; height:2px; border-width:0; color:black; background-color:black">  -->

        {% block content %}{% endblock %}
        
    </body>
</html>

